body {
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #001821;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./img/background.png") center top no-repeat, url("./img/background-two.png") right bottom 150px no-repeat;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 150px;
  padding-top: 26px;
  margin-bottom: 49px;
}

.menu {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  vertical-align: middle;
  margin-right: 76px;
  text-decoration: none;
  display: inline-block;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;  
}

.menu__item:last-child {
margin-right: 0;
}

.menu__item--active .menu__link {
  color: #DA0100;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
  color: #DA0100;
}

.contacts {
font-style: normal;
vertical-align: middle;
text-align: right;
display: inline-block;
margin-left: 516px;
}

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  margin-bottom: -5px; 
  display: inline-block;
}

.contacts__info {
  font-size: 13px;
  text-decoration: underline;
}

.contacts__info:hover {
  /* color: #fff; не уверена */
}

.hello__content {
  max-width: 520px;
  margin-bottom: 246px;
}

.hello__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.34;
  margin-bottom: 28px;
}

.hello__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  text-decoration: none;
  background: #F5170E;
  border-radius: 30px;
  padding: 18px 41px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.button:hover {
  background: #DA0100;
  /* filter: drop-shadow (0 4px 4px rgba(0, 0, 0, 0.25));   */
}

.offers {
  margin-bottom: 124px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.title--fire:after {
    content:url("./img/tours/icons/flame.png");
    margin-left: 12px;
    vertical-align: middle;
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.offers__item {
   background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 23px;
  width: 361px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 144px;
}

.offers__img {
  display: block;
}

.offers__content {
  padding: 26px 23px;
}

.offers__title {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}


.offers__condition {
  display: inline-block;
  vertical-align: top;
  color: #666;
  margin-bottom: 10px;
}

.offers__condition--days {
margin-right: 28px;
}

.offers__condition-icon {
  display: inline-block;
  vertical-align: middle;
}

.offers__condition-text {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}


.offers__description {
  color: #303030;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 23px;
}

.button--light {
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
  padding-left: 30px;
  padding-right: 30px;
}

.button--light:hover {
  color:#fff;
  background: #F5170E;
}

.news {
  margin-bottom: 145px;
}

.news__list {
  margin-bottom: 53px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  /* overflow: hidden; не понимаю */
  margin-right: 21px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 31px;
  min-height: 165px;
}

.news__description {
  margin: 0;
}

.news__date {
  font-size: 14px;
  margin-bottom: 12px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.paginator {
  text-align: center;
}

.paginator__list {
display: inline-block;
vertical-align: middle;
}

.paginator__display {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item:hover .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__item--active .paginator__link {
background: #fff;
color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
} 

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("./img/about/gates.png") center center / cover no-repeat;
}

.about {
  margin-bottom: 53px;
}

.about__content {
  background: url("./img/about/mountains.png") center center / cover no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  min-height: 455px;
  padding: 70px 202px 0 81px;
  margin-left: -140px;
  margin-top: 97px;
}

.title--dark {
  color: #000;
  margin-bottom: 37px;
}

.about__description {
  margin-bottom: 42px;
  line-height: 1.7;
}

.about__description p {
  color: #060606;
  margin-bottom: 20px;
}

.about__description p:last-child {
  margin-bottom: 0;
}

.footer__content {
  padding-top: 45px;
  padding-bottom: 57px;
  height: 146px;
  position: relative;
  border-top: 4px solid rgb(255 255 255 / 10%);
}

.socials {
  position: absolute;
  bottom: 61px;
  right: 258px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.footer__info {
  text-decoration: none;
  color: #9A9A9A;
  font-size: 11px;
}