.button {
  text-decoration: none;
  background: #F5170E;
  border-radius: 30px;
  padding: 18px 41px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
}

.button:hover {
  background: #DA0100;
  /* filter: drop-shadow (0 4px 4px rgba(0, 0, 0, 0.25));   */
}

.button--light {
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
  padding-left: 30px;
  padding-right: 30px;
  align-self: flex-start;
  margin-top: auto;
}

.button--light:hover {
  color:#fff;
  background: #F5170E;
}
